
.ps4{background-color: blue;}
.nintendo{background-color: red ;}
.pc{background-color: green;}
.ul {list-style-type: none; padding: 0;}
.table{background-color:grey; text-align: center;  ;}
.table{color:white}
img{display:block;}
